<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic Card Database</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to a Magic: The Gathering Database</h1>
    <img
      src="https://i.guim.co.uk/img/media/bb062dcc123fa2ed3593ff5a8671c62010da5d69/517_433_3295_1977/master/3295.jpg?width=1200&quality=85&auto=format&fit=max&s=48b61bd9a2efa907c7edde1dd0ce1b7a"
      alt="Back of the Card"
      class="cardBack"
    />
    <p>An app for tracking the stats of your favorite magic card's data</p>
    <a href="/cards" class = 'cards-index-link'>View All Cards</a>
    <a class = add-card href="/cards/new">Add A Card</a>

    <footer>
      Icons by
      <a
        href="https://www.theguardian.com/us-news/2023/feb/28/magic-the-gathering-cards-landfill-texas"
        >Sarah Lee</a
      >
    </footer>
  </body>
</html>
