<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Card Database</title>
</head>
<body>
    <h1>Welcome to a Magic The Gathering Database</h1>
    <p>An app for tracking the stats of your favorite magic card's data</p>
    <a href="/cards">View All Cards</a>
    <a href="/cards/new">Add A Card</a>


</body>
</html>